# After Ubuntu 16.04, Systemd becomes the default.
# It is simpler than https://gist.github.com/Doowon/38910829898a6624ce4ed554f082c4dd

[Unit]
Description=Jupyter Notebook
After=multi-user.target

[Service]
Type=idle
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c "/usr/local/bin/jupyter-notebook --config=/home/<new user>/.jupyter/jupyter_notebook_config.py > /home/<new user>/Notebooks/notebook.log 2>&1"
User=<new user>
Group=<new user>
WorkingDirectory=/home/<new user>/Notebooks/
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target

# IF THIS DOES NOT WORK THEN PUT THE FOLLOWING LINE TO /etc/rc.local JUST BEFORE exit 0
# su <new user> -c "/usr/local/bin/jupyter-notebook --config=/home/<new user>/.jupyter/jupyter_notebook_config.py --notebook-dir='/home/<new user>/Notebooks/' --debug > /home/<new user>/Notebooks/notebook.log 2>&1"